<footer id='template-i0wmf'>
<div class='container' id='template-inmrf'>
<div class='row' id='template-izddy'>
<div class='footer-col col-md-4' id='template-izxyk'>
<h3 id='template-iv2y9'>Location</h3>
<p id='template-itgmk'>
Sample Place
<br id='template-iovmr'>
Sample, XX 99999
</p>
</div>
<div class='footer-col col-md-8' id='template-is0vg'>
<h3 id='template-i8zah'>About Geppetto</h3>
<p id='template-inb4l'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum incidunt reprehenderit placeat,
                        animi quo perferendis magni doloremque tempore autem ut maiores, molestias vero repellat earum
                        optio similique deleniti explicabo sint?.</p>
</div>
</div>
</div>
<div class='container' id='template-iw89d'>
<div class='row' id='template-i90bn'>
<div class='col-lg-12' id='template-itzip'>Copyright © GEPPETTO 2016 </div>
</div>
</div>
</footer>