<nav class='navbar navbar-inverse' id='template-i090p'>
<div class='navbar-header' id='template-iyoc4'>
<span onclick='openNav()' id='in2oj'>☰</span>
<button class='navbar-toggle' type='button' data-toggle='collapse' data-target='#myNavbar' id='template-ioico'>
<span class='icon-bar' id='template-iy169'>
</span>
<span class='icon-bar' id='template-ivo7o'>
</span>
<span class='icon-bar' id='template-ihry1'>
</span>
</button>
<a class='navbar-brand' href='/home' id='template-io1pk'>GEPPETTO</a>
</div>
<div class='collapse navbar-collapse' id='myNavbar'>
<ul class='nav navbar-nav navbar-right' id='template-ionqz'>
<li class='active' id='template-ivm2e'>
<a [routerLink]="['/']" id='template-iz682'>Home</a>
</li>
</ul>
</div>
<div class='sidenav' id='mySidenav'>
<a class='closebtn' href='javascript:void(0)' onclick='closeNav()' id='template-if7ki'>×</a>
<div id='MainMenu'>
<div class="list-group panel">
                                        <a class="list-group-item list-group-item-success" *ngIf='userId!=null'  [routerLink]="['/home']">{{'source.home' | i18next}}</a>
                                      </div>
<div class="list-group panel" *ngIf='isAdminUser'>
                                        <a class="list-group-item list-group-item-success" [routerLink]="['/admin']">{{'source.admin' | i18next}}</a>
                                      </div>
<div class="list-group panel">
                                        <a class="list-group-item list-group-item-success" *ngIf='userId!=null' (click)="logout()">{{'source.logout' | i18next}}</a>
                                      </div>
 <li>
                                                <a class="text" *ngIf='userId==null' [routerLink]="['/login']">{{'source.login' | i18next}}</a>
                                            </li>
<li>
            <a href="#translator" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle text">
            {{'source.selectLanguage' | i18next }}</a>
            <ul class="collapse list-unstyled" id="translator">
            <li>
            <a class="text" *ngFor="let lang of languages" (click)='confirmLangModel(lang)'>{{
                'languages.' + lang |
                i18nextCap }}</a>
          </li>
            </ul>
          </li>
</div>
</div>
</nav>
<header id='template-io8gv'>
<div class='container' id='template-iqtiy'>
<div class='row' id='template-iulmb'>
<div class='col-lg-12' id='template-ichmx'>
<h1 class='geppettoHeader' id='template-isrlz'>GEPPETTO SOFTWARE</h1>
<span id='template-i0cef'>This is an HTML template developed by
                        GEPPETTO</span>
</div>
</div>
</div>
</header>
<section id='template-ixzbd'>
<div class='container' id='template-i1op4'>
<div class='row' id='template-ic28d'>
<div class='col-lg-12' id='template-irc61'>
<h2 class='contentTitle' id='template-ivikk'>Content Title</h2>
<hr id='template-i2clp'>
</div>
</div>
<div class='row' id='template-ih0eg'>
<div class='col-lg-6' id='template-iv38l'>
<p id='template-i2obh'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor ratione quo alias fugit maiores
                        enim odio amet, harum provident necessitatibus, error eveniet iste non voluptatibus dolore rem
                        voluptates deleniti quos?</p>
<a href='#' id='template-ie5vy'>
<h4 id='template-iftqn'>more</h4>
</a>
</div>
<div class='col-lg-6' id='template-injql'>
<p id='template-iuxz1'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor ratione quo alias fugit maiores
                        enim odio amet, harum provident necessitatibus, error eveniet iste non voluptatibus dolore rem
                        voluptates deleniti quos?</p>
<button class='btn btn-default' id='template-iu6hv'>Read More</button>
</div>
</div>
</div>
</section>
<footer id='template-i0wmf'>
<div class='container' id='template-inmrf'>
<div class='row' id='template-izddy'>
<div class='footer-col col-md-4' id='template-izxyk'>
<h3 id='template-iv2y9'>Location</h3>
<p id='template-itgmk'>
Sample Place
<br id='template-iovmr'>
Sample, XX 99999
</p>
</div>
<div class='footer-col col-md-8' id='template-is0vg'>
<h3 id='template-i8zah'>About Geppetto</h3>
<p id='template-inb4l'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum incidunt reprehenderit placeat,
                        animi quo perferendis magni doloremque tempore autem ut maiores, molestias vero repellat earum
                        optio similique deleniti explicabo sint?.</p>
</div>
</div>
</div>
<div class='container' id='template-iw89d'>
<div class='row' id='template-i90bn'>
<div class='col-lg-12' id='template-itzip'>Copyright © GEPPETTO 2016 </div>
</div>
</div>
</footer>